{% extends 'students/year_master.html' %}

{% block page %}

<span class="row addition">
    <form action="/yearmaster/add-year/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="current_year" required id="current_year">
                <label for="current_year">Current Year</label>
            </div>
        </div>
        <input class="waves-effect waves-light btn" style="width: 50%;" type="submit" value="Submit">

    </form>
</span>

{% endblock page %}