{% extends 'students/author_master.html' %}

{% block page %}

<span class="row addition">
    <form action="/authormaster/add-author/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="author_name" required id="author_name">
                <label for="author_name">Author Name</label>
            </div>
        </div>
        <input class="waves-effect waves-light btn" style="width: 50%;" type="submit" value="Submit">

    </form>
</span>

{% endblock page %}