{% extends 'students/book_master.html' %}

{% block search %}
<form method="POST" action="/bookmaster/search-book/" >
  {% csrf_token %}
  <div class="row">
  <div class="input-field col s4">
  <input type="text" name="barcode" autofocus id="barcode">
  <label for="barcode">Barcode</label>
  </div>
  <div class="input-field col s4">
  <input type="text" name="book_id" id="book_id">
  <label for="book_id">Book Id</label>
</div>
<div  style="margin-top: 10px;" class="col s4">
<input  class="waves-effect waves-light btn"  type="submit" value="Submit">
</div>
</div>
</form>
{% endblock search %}

{% block page %}

<div class="verti-scroll">
    <table class="centered" >
        <thead>
          <tr>
              <th>Book Id</th>
              <th>Book Name</th>
              <th>Semester</th>
              <th>Paper</th>
              <th>Book Edition</th>
              <th>Price</th>
              <th>Purchase Date</th>
              <th>Author Name</th>
              <th>Publisher Name</th>
          </tr>
        </thead>
        
        {% for b in books %}
        <tbody class="centered">
          <tr>
            <td>{{b.barcode}}</td>
            <td>{{b.book_name}}</td>
            <td>{{b.sem}}</td>
            <td>{{b.paper}}</td>
            <td>{{b.book_edition}}</td>
            <td>{{b.price}}</td>
            <td>{{b.purchase_year}}</td>
            <td>{{b.author_name}}</td>
            <td>{{b.publisher}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
{% endblock %}