{% extends 'students/branch_master.html' %}

{% block search %}
<form method="POST" action="/branchmaster/search-branch/" >
  {% csrf_token %}
  <div class="row">
  <div class="input-field col s4">
  <input type="text" name="branch_name" required id="branch_name">
  <label for="branch_name">Branch Name</label>
  </div>
<div  style="margin-top: 10px;" class="col s4">
<input  class="waves-effect waves-light btn"  type="submit" value="Submit">
</div>
</div>
</form>
{% endblock search %}

{% block page %}

<div class="verti-scroll">
    <table class="centered" >
        <thead>
          <tr>
              <th>Branch Name</th>
          </tr>
        </thead>
        
        {% for b in branch %}
        <tbody class="centered">
          <tr>
            <td>{{b.branch_name}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
{% endblock %}